<!doctype html>
<html lang="en" ng-app="mr.Main">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Compliance Assessment</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <div class='container'>
      <div ng-include="'nav.html'"></div>
      <div ui-view></div>
    </div>

    <script src="javascripts/components.js"></script>
    <script src="javascripts/app.js"></script>

  </body>
</html>