.profile {
  img {
    max-height: 150px;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
  }

  .list-group-item.row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    span strong {
      vertical-align: text-bottom;
    }
  }
}

.list-group {
  .list-group-item {
    .btn-link {
      color: #0A0A0A;
      padding: 0;
    }
  }
}